

.nav-container {
  height: 5em;
  background-color: #F55A5A;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe-icon {
  font-size: 2em;
 
 
}

.header-title {
  margin-left: 5px;
  font-weight: 300;
}

.card-container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 2em;
  border-bottom: 1px solid #F5F5F5 ;
  

}

.card-text-container {
  margin-left: 20px;
  height: 100%;
  max-width: 50%;
  line-height: 1.5;
  
}

.top-text {
  display: flex;
  align-items: center;
  
  
}

.top-text > h4, .top-text > a {
  margin-left: 10px
}

.dates {
  display: flex;
  margin-top: 10px;
  
}

.description {
  margin-top: 10px;
}

.loc-icon {
  color: #F55A5A;
}

.location {
  font-weight: 300;
}

.image-container {
  width: 175px;
  height: 225px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

